@model List<CaminhaoModel> 
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-success" role="button" asp-controller="Caminhao" asp-action="Cadastrar">Cadastrar</a>
</div>


<h1>Listagem  </h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data de Criação</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @if(Model != null && Model.Any())
         {
                foreach (CaminhaoModel caminhao in Model)
                {
                          <tr>
                                <th>@caminhao.Nome</th>
                                <th>@caminhao.Descricao</th>
                                <th>@caminhao.DataDeCriacao</th>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a role="button" class="btn btn-outline-primary" asp-route-id="@caminhao.Id" asp-controller="Caminhao" asp-action="Editar">Editar</a>
                                        <a role="button" class="btn btn-outline-info" asp-route-id="@caminhao.Id" asp-controller="Caminhao" asp-action="Detalhes">Detalhes</a>
                                        <a role="button" class="btn btn-outline-danger" asp-route-id="@caminhao.Id" asp-controller="Caminhao" asp-action="DeletarConfirmar">Excluir</a>
                                    </div>
                                </td>
                           </tr>
                }
         }


    </tbody>
</table>
